@font-face {
  font-family: 'iconfont';  /* project id 1249937 */
  src: url('//at.alicdn.com/t/font_1249937_d0j3qg3beh9.eot');
  src: url('//at.alicdn.com/t/font_1249937_d0j3qg3beh9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1249937_d0j3qg3beh9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1249937_d0j3qg3beh9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1249937_d0j3qg3beh9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1249937_d0j3qg3beh9.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e66a";
}

.icon-linkedin:before {
  content: "\e66b";
}

.icon-dribbble-copy:before {
  content: "\e654";
}

.icon-facebook:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e6f6";
}

